:root {
  --text-color: #000;
}

html {
  font-size: 67.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.color {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.bg-red{
  background-color: #ff4343;
}
.bg-green{
  background-color: #75eb00;
}
.bg-yellow{
  background-color: #ffff13;
}
.bg-blue{
  background-color: #5252ff;
}
.bg-orange{
  background-color: #ffba3a;
}
.bg-violet{
  background-color: #ee82ee;
}
.bg-pink{
  background-color: #ffc0cb;
}
.bg-purple{
  background-color: #800080;
}
.bg-gold{
  background-color: #ffd700;
}
.bg-silver{
  background-color: #d3d3d3;
}
.bg-white{
  background-color: #ffffff;
}