:root {
  --primary-color: #503C3C;
  --secondry-color: #7E6363;
  --btn-color: #A87C7C;
  --texts-color: #d2d2d2;
}

html {
  font-size: 67.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
    color: var(--texts-color);
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  padding: 8% 0;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: var(--secondry-color);
  border-radius: 1rem;
  width: 80%;
  min-height: 28rem;
}
.password-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
.title {
  font-size: 2.5rem;
}
.result-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#result {
  font-size: 1.8rem;
}
#clipboard {
  font-size: 2rem;
}
.settings {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  margin: 1rem 0;
}
.setting > label,
.range-setting > label {
  font-size: 1.5rem;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
}
.range-setting {
}
#length {
  width: 100%;
}
#generate{
    background-color: var(--btn-color);
    padding: 1rem 2rem;
}
.history-wrapper {
  background-color: var(--secondry-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
.history-list {
  overflow-y: scroll;
  width: 80%;
  height: 20rem;
  padding: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.history-list::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.3rem;
  border-radius: 1rem;
}
.history-list::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: var(--btn-color);
}
.history-item {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 1.5rem;
}
.h-clipboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
